{% extends 'foodrider/base.html' %}
{% load static %}
{% block content %}
{% block title %}
| Order
{% endblock title %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="cart-title mt-50">
                    <h2>Track your order</h2>
                </div>
                <div class="progressContainer">
                
                    <ul class="progressb">
                        <li class="progress__item progress__item--completed">
                            <p class="progress__title">Order Placed</p>
                            <p class="progress__info">{{order.date_ordered}}</p>
                        </li>
                        
                        <li class="progress__item {% if order.status == 1 %}progress__item--active {%elif order.status >= 2 %}progress__item--completed {% else%} {%endif%}">
                            {% if order.status == 1 %}
                            <p class="progress__title">Order is being confirmed</p>
                            {%elif order.status >= 2 %}
                            <p class="progress__title">Order Confirmed</p>
                            <p class="progress__info">Your order will be delivered soon. Tracking id: {{order.transaction_id|upper}}</p>
                            {% else %}{% endif %}
                        </li>
                        <li class="progress__item {% if order.status == 2 %}progress__item--active {%elif order.status >= 3 %}progress__item--completed {% else%} {%endif%}">
                            {% if order.status == 2 %}
                            <p class="progress__title">Order is in Kitchen</p>
                            <p class="progress__info">Your food is being prepared</p>
                            {%elif order.status > 2 %}
                            <p class="progress__title">Order Prepared</p>
                            <p class="progress__info">All food items in the order has been prepared</p>
                            {% else %}{% endif %}
                        </li>
                        <li class="progress__item {% if order.status == 3 %}progress__item--active {%elif order.status >= 4 %}progress__item--completed {% else%} {%endif%}">
                            {% if order.status == 3 %}
                            <p class="progress__title">Order Processing</p>
                            <p class="progress__info">Your order is being prepared for package and delivery</p>
                            {%elif order.status > 3 %}
                            <p class="progress__title">Order Picked Up</p>
                            <p class="progress__info">{{order.date_picked}}</p>
                            {% else %}{% endif %}
                        </li>
                        <li class="progress__item {% if order.status == 4 %}progress__item--active {%elif order.status >= 5 %}progress__item--completed {% else%} {%endif%}">
                            {% if order.status == 4 %}
                            <p class="progress__title">On the way</p>
                            <p class="progress__info">Delivery details: </p>
                            {%elif order.status == 5 %}
                            <p class="progress__title">Order Delivered</p>
                            <p class="progress__info">{{order.date_delivered}}</p>
                            {% else %}{% endif %}
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-12">
                <div class="cart-title mt-50">
                    <h2>Order details for order #{{order.id}}</h2>
                </div>
                <div class="cart-summary my-0">
                    <ul class="summary-table my-0">
                        <li><span>restaurant:</span> <span><strong>{{restaurant}}</strong></span></li>
                        <hr style='margin-top:-1em' />
                        <li><span>shipping address:</span> <span><strong>{{order.shipping_address}}</strong></span></li>
                        <hr style='margin-top:-1em' />
                        {% for item in order_items %}
                        <li>
                            <span>{{item.menu_item.menu.name}}<br>{{item.menu_item.name}} &times;
                                <strong>{{item.quantity}}</strong></span>
                            <span>{{item.get_nominal_price_times_quantity}}</span>
                        </li>
                        {% endfor %}
                        <hr style='margin-top:-1em' />
                        <li><span>total discount (-):</span> <span>{{order.get_cart_total_discount_price}}</span></li>
                        {% for item in cart_items %}
                        {% if item.menu_item.discount_price %}
                        <li>
                            <span>Sale {{item.menu_item.discount_price}}&times;{{item.quantity}}</span>
                            <span>{{item.get_discount_price_times_quantity}}</span>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <hr style='margin-top:-1em' />
                        <li><span>delivery (+):</span>
                            <span>{% if order_items %}{{order.delivery_charge}}{% else %}0{% endif %}</span></li>
                        <hr style='margin-top:-1em' />
                        <li style="font-weight:bold;"><span>total:</span>
                            <span>{% if order_items %}{{order.get_cart_total_actual_price}}{% else %}0{% endif %}</span>
                        </li>
                    </ul>
                    <div class="payment-method">
                        <!-- Cash on delivery -->
                        <div>
                            <span>Payment method: </span>
                            <span>
                                {% if order.razor_order_id %}Online (Payment ID: {{order.razor_order_id}})
                                    <span>+2\%: Total: {{order.get_cart_total_price_with_trans}}</span>
                                {% else %}
                                    Cash on Delivery
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}