{% extends 'foodrider/base.html' %}
{% load static %}
{% block title %}
| Search Results
{% endblock title %}
{% block content %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div id="search-title" class="restaurant-name cart-title mt-50 mb-4 text-center">
                    <h2 class="mb-1">Search results for {{request.GET.search_term|lower}}</h2>
                    <h5 style="color:#fbb710"><i class="fa fa-info-circle"></i> Select items from only one restaurant or make multiple orders</h5>
                </div>
                


                <div id="myacc">
                    {% for restaurant in restaurants %}
                    <div class="card mb-3">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse{{restaurant.menu__restaurant}}"
                            aria-expanded="true" aria-controls="collapse{{restaurant.menu__restaurant}}">
                            <h5 class="mb-0">
                                {{restaurant.menu__restaurant__name}}
                            </h5>
                        </div>
                        <div id="collapse{{restaurant.menu__restaurant}}" class="collapse" aria-labelledby="heading{{restaurant.menu__restaurant}}"
                            data-parent="#myacc">
                            <div class="card-body">
                                <ul>
                                    {% for search_item in search_items %}
                                    {% if search_item.menu.restaurant.name == restaurant.menu__restaurant__name %}
                                    <li style="text-align: right;" class="card-text p-1 m-3 border-bottom">
                                        {% if search_item.discount_price %}
                                        <span class="badge badge-dark p-2 font-weight-normal">Sale</span>
                                        {% endif%}
                                        <span>{{search_item.menu.name}} ({{search_item.name}}) &mdash;</span>
                                        {% if search_item.discount_price %}
                                        <span
                                            style="opacity:0.5; text-decoration:line-through">{{search_item.nominal_price}}</span>
                                        {% endif %}
                                        <span>{{search_item.get_actual_price}}</span>

                                        <button data-restaurant={{restaurant.menu__restaurant}} data-product={{search_item.id}}
                                            data-action="add" class="btn amado-btn-plus fa fa-plus update-cart">
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    <li style="text-align: right;" class="card-text p-1 m-3">
                                    <a href="{% url 'restaurant-details' id=restaurant.menu__restaurant %}">
                                        More from <span style="color:#fbb710;">{{restaurant.menu__restaurant__name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Summary</h5>
                    <div id="cartsummary">
                        {% include 'foodrider/includes/cart-summary.html' %}
                    </div>
                    <div class="cart-btn mt-50">
                        <a href="{% url 'cart' %}" class="btn amado-btn w-100">Proceed to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{%static 'foodrider/js/foodrider/product.js'%}"></script>
{% endblock scripts %}